@model CDR.Web.Models.DOCUS_SUB_REQUEST
@using (Ajax.BeginForm("UpdateSubRequest", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result" }))
{
   

    <div class="form-horizontal">
        <div class="form-group">
            <label for="dateReceived" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Date_Received)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Date_Received, null, new { id = "dateReceived", @class = "form-control datepicker" })
            </div>
            <label for="GTloanNumber" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.GT_Loan_Number)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.GT_Loan_Number, null, new { id = "GTloanNumber", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="requestor" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Requestor)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Requestor, null, new { id = "requestor", @class = "form-control" })
            </div>
            <label for="statusDate" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Status_Date)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Status_Date, null, new { id = "statusDate", @class = "form-control datepicker" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="principalLoanBalance" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Principal_Loan_Balance)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Principal_Loan_Balance, null, new { id = "principalLoanBalance", @class = "form-control" })
            </div>
            <label for="loanBalance2" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Loan_Balance_2)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Loan_Balance_2, null, new { id = "loanBalance2", @class = "form-control" })
            </div>
        </div>
    </div>
    

    <div class="form-horizontal">
        <div class="form-group">
            <label for="newLoanAmount" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.New_Loan_Amount)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.New_Loan_Amount, null, new { id = "newLoanAmount", @class = "form-control" })
            </div>
            <label for="newCLTV" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.New_CLTV)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.New_CLTV, null, new { id = "newCLTV", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="borrowerLastName" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Borrower_Last_Name)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Borrower_Last_Name, null, new { id = "borrowerLastName", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Borrower_Last_Name)
            </div>
            <label for="reason" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Reason)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Reason, null, new { id = "reason", @class = "form-control" })
            </div>
        </div>

    </div>

    
    <div class="form-horizontal">
        <div class="form-group">
            <label for="fico" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.FICO)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.FICO, null, new { id = "fico", @class = "form-control" })
            </div>
            <label for="dateAssigned" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Date_Assigned_To_Processor)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Date_Assigned_To_Processor, null, new { id = "dateAssigned", @class = "form-control datepicker" })
            </div>

    </div></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="comments" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Comments)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Comments, null, new { id = "comments", @class = "form-control" })
            </div>
            <label for="heloc" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.HELOC)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.HELOC, null, new { id = "heloc", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="representative" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Representative_Id)</label>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.Representative_Id, new SelectList(CDR.Web.Constants.Representative(), "LOOKUP_ID", "LOOKUP_VALUE",Model.Representative_Id), "", new { id = "representative", @class = "form-control" })
            </div>
            <label for="proposedDTI" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Proposed_DTI)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Proposed_DTI, null, new { id = "proposedDTI", @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <div class="form-group">
            <label for="requestType" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Request_Type_Id)</label>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.Request_Type_Id, new SelectList(CDR.Web.Constants.RequestType(), "LOOKUP_ID", "LOOKUP_VALUE",Model.Request_Type_Id), "", new { id = "requestType", @class = "form-control" })
            </div>
            <label for="fee" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Fee_Id)</label>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.Fee_Id, new SelectList(CDR.Web.Constants.Fee(), "LOOKUP_ID", "LOOKUP_VALUE",Model.Fee_Id), "", new { id = "fee", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="loanType" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Loan_Type_Id)</label>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.Loan_Type_Id, new SelectList(CDR.Web.Constants.LoanType(), "LOOKUP_ID", "LOOKUP_VALUE",Model.Loan_Type_Id), "", new { id = "loanType", @class = "form-control" })
            </div>
            <label for="currentDTI" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Current_DTI)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Current_DTI, null, new { id = "currentDTI", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="ownerId" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Owner_Id)</label>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Owner_Id, null, new { id = "ownerId", @class = "form-control" })
            </div>     <label for="requestStatus" class="control-label col-xs-3">@Html.DisplayNameFor(m => m.Request_Status_Id)</label>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.Request_Status_Id, new SelectList(CDR.Web.Constants.Status(), "LOOKUP_ID", "LOOKUP_VALUE",Model.Request_Status_Id), "", new { id = "requestStatus", @class = "form-control" })
            </div>
       
        </div>
    </div>




    <div class="form-horizontal">
        <div class="form-group">
            <label for="ownerId" class="control-label col-xs-5"></label>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary" id="update">Update</button>
            </div>
        </div>
    </div>
    
    <div id="result"></div>
}




<script src="~/Scripts/SubRequestDetails.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
